{% extends "base.html.twig" %}
{% block body %}
    {% for article in articles %}
        {{ article.name }} <a href="{{ path("article_edit", {'id': article.id}) }}"> Изменить </a><br>
        <a href="{{ path("article_delete", {'id': article.id}) }}"> Удалить </a><br>
    {% endfor %}
    <a href="{{ path("article_create") }}">Создать</a><br>
{% endblock %}


